# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
bin

# Vim
*swp

# Doxygen
doc
dox.log

xor.ssv
xor_train.ssv
