# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
bin

# Vim
*swp

# Doxygen
doc
dox.log

/*ssv

notas.txt
todo.txt
journal.txt
cpplint.py
cscope.out
todo_doc.txt
